.ANSM {
  margin: 0; }
  .ANSM .container {
    display: flex; }
  .ANSM .menu {
    flex: 1;
    background: #1d2327; }
  .ANSM .content {
    flex: 11;
    padding: 15px; }
  .ANSM .fromMenu {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .ANSM .btn {
    width: 100%;
    border: 0;
    padding: 20px 15px;
    cursor: pointer;
    color: #f0f0f1;
    border: 0;
    background: transparent;
    text-align: left;
    font-size: 20px;
    font-weight: 900; }
    .ANSM .btn[active] {
      background: #2271b1;
      position: relative; }
      .ANSM .btn[active]:after {
        right: 0;
        border: solid 8px transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: #f0f0f1;
        top: 50%;
        margin-top: -8px; }
  .ANSM .tdColmn.tdColmn.tdColmn {
    padding: 1em 1em 1em 1em; }
  .ANSM .contentFiltersAndDonwload {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between; }

/*# sourceMappingURL=style.css.map */
